<button routerLink="" mat-raised-button color="primary">Voltar</button>

<h1> Lista de Fornecedores Desassociados</h1>

<div class="content" *ngFor="let item of fornecedores">
    <mat-card class="mat-elevation-z8">
        <mat-card-header>
          <mat-card-title>{{item.cnpjCpf}}</mat-card-title>
          <mat-card-subtitle>{{item.nome}}</mat-card-subtitle>
          <mat-card-content>
            <div class="info">
              <div class="info-item">
                <strong>Email:</strong> {{ item.email }}
              </div>
              <div class="info-item">
                <strong>CEP:</strong> {{ item.cep | mask: '00000-000' }}
              </div>
              <div class="info-item">
                <strong>RG:</strong> {{ item.rg | mask: '00.000.000-0' }}
              </div>
              <div class="info-item">
                <strong>Data de Nascimento:</strong> {{ item.dataNascimento | mask: '00/00/0000' }}
              </div>
              <div class="info-item">
                <strong>Tipo:</strong> {{ item.tipo }}
              </div>
            </div>
          </mat-card-content>
          
        </mat-card-header>
        <mat-card-actions>
        <div class="actions">
            <button (click)="this.associarEmpresaFornecedor(item.id,idRotaEmpresa)" mat-raised-button color="accent">Associar</button>
        </div>
        </mat-card-actions>
      </mat-card>
      
</div>